*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    background-image: url(./images/thunderstorm-g1c1270d2e_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.logo{
    position: relative;
    top: -30px;
    left: 20px;
}
.header{
    position: relative;
    top: 10px;
    text-align: center;
}
